.main {
  padding-top: 4rem;
}

.login-container {
  height: 80vh;
}

.login-form {
  width: 35vw;
  border: 1px solid white;
  padding: 50px;
  border-radius: 5px;
  background: whitesmoke;
}

.padding-bottom24 {
  padding-bottom: 24px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-block {
  padding-left: 10px;
  font-size: 13px;
  margin-top: -15px;
}

.help-block {
  color: #f44336;
}

.admin-dashboard-title {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.add-module-btn {
  padding-top: 4px;
  display: inline-block;
}

.form-container {
  padding-top: 1em;
}

td > a {
  padding-right: 1em;
}

#sidebar nav > a {
  display: block;
  text-decoration: none;
}

#sidebar {
  padding: 1rem 0 2rem 2rem;
  display: flex;
  height: calc(100vh - 4rem);
  width: 300px;
  overflow-y: scroll;
  flex-direction: column;
  background-color: beige;
  position: sticky;
  top: 4rem;
}

.module-parent {
	display: flex;
	/* height: 100%; */
}

.content {
  min-height: calc(100vh - 4rem);
  width: 100%;
  /* flex-grow: 9; */
  padding: 2rem;
}

.child-section {
  padding-left: 1.5rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.module-title {
  padding-top: 1rem;
}

.default-pad {
  padding: 2rem;
}

.title-header {
  position: relative;
}

.title-header h3 {
  display: inline-block;
}

.title-header a {
  position: absolute;
  right: 17px;
}