.main {
  padding: 1em;
}

.login-container {
  height: 80vh;
}

.login-form {
  width: 35vw;
  border: 1px solid white;
  padding: 50px;
  border-radius: 5px;
  background: whitesmoke;
}

.padding-bottom24 {
  padding-bottom: 24px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-block {
  padding-left: 10px;
  font-size: 13px;
  margin-top: -15px;
}

.help-block {
  color: #f44336;
}

.admin-dashboard-title {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.add-module-btn {
  padding-top: 4px;
  display: inline-block;
}

.form-container {
  padding-top: 1em;
}

td > a {
  padding-right: 1em;
}
